@page "/"
@inherits _BaseView

@* <style>
    
    /* https://ui.glass/generator/ */

    body {
        background-color: #d5d7d7;
        background-image: radial-gradient(at 47% 33%, hsl(0.00, 7.000000000000001%, 88%) 0, transparent 59%), radial-gradient(at 82% 65%, hsl(200.00, 0%, 84%) 0, transparent 55%);
    }

    .card {
        backdrop-filter: blur(25px) saturate(156%);
        -webkit-backdrop-filter: blur(25px) saturate(156%);
        background-color: rgba(255, 255, 255, 0.50);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
    }

</style> *@

<MaanfeeDashboardPage PageTitle="@DashboardResource.StringDashboard">
    <MudPaper Class="pa-8 card" Outlined="true" Square="true" Elevation="3">

        <h1>Hello, world!</h1>

        <RenderModeComponent />

        <p>
            تغییر فونت در به صورت پویا
        </p>

    </MudPaper>
</MaanfeeDashboardPage>
